body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

#header {
    font-size: 30px;
    background-color: #ff8100;
    padding: 20px;
    text-align: center;
    color: white;
}


#temperature {
    font-size: 50px;
    margin-bottom: 0;
}

#description {
    font-size: 25px;
}

#city-name {
    font-size: 30px;
    font-weight: bold;
}

main {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#inputs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#button {
    background-color: #ff8100;
    color: white;
    padding: 6px 12px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background-color: #3a78c2;
}

#weather-info {
    text-align: center;
}

@media (max-width: 980px) {
    main {
        margin-top: 120px;
    }
}